@charset "utf-8";

/* Colorset Reset */
.at-page { background: none; padding:0px 0px 15px; border:0; margin-bottom:20px; }
.at-page.at-page-mobile { padding:0px 0px 15px; }

/* Common */
.img-photo i { 
	background: rgb(245, 245, 245); padding: 16px; border-radius: 50%; width: 80px; height: 80px; text-align: center; color: rgb(143, 143, 143); font-size: 40px; display: inline-block; 
}
.img-photo img { 
	border-radius: 50%; width: 80px !important; height: 80px !important; display:inline-block; 
}
.img-resize img { 
	max-width:100%; height:auto; 
}

/* View Author */
.view-author { }
.view-author .auth-photo { width:160px; padding-right:15px; }
@media all and (max-width:460px) {
	.view-author .auth-photo { float:none; width:100%; padding-right:0px; }
}