@charset "utf-8";

/* Colorset Reset */
.at-page { background: none; padding:0px 0px 15px; border:0; margin-bottom:20px; }
.at-page.at-page-mobile { padding:0px 0px 15px; }

.faq-img img, .faq-html img, .faq-content img { width:auto; max-width:100%; border:0; }

.list-none { padding:50px 0; }